<div class="project {{this.name}}">
	<div class="project-header"><span class="project-name">{{this.name}}</span><span class="delete-project">x</span></div>
	<ul class="task-list">
		{{#each this.tasks}}
		<li class="task" num="{{@index}}">
			<span class="task-name" contenteditable=true>{{this.name}}</span>
			<span class="task-time-spent" contenteditable=true>{{this.timeSpent}}</span>h/
			<span class="task-time" contenteditable=true>{{this.timeNeeded}}</span>h
			<select class="task-status">
				<option selected>WIP</option>
				<option>DONE</option>
			</select>
		</li>
		{{/each}}
	</ul>
	<span class="add-task">+</span>
</div>