<div class="project {{this.name}}">
	<div class="project-header"><span class="project-name">{{this.name}}</span><span class="delete-project">x</span></div>
	<ul class="task-list">
		{{#each this.tasks}}
		<li>
			<span class="task-name" contenteditable=true>{{this.name}}</span>
			<span class="task-time-spent" contenteditable=true>{{this.timeSpent}}h</span>
			/
			<span class="task-time">{{this.timeNeeded}}h</span>
			<select class="task-status">
				<option selected>WIP</option>
				<option>DONE</option>
			</select>
		</li>
		{{/each}}
	</ul>
	<span class="add-task">+</span>
</div>