<div class="task-group {{this.name}}">
	<div class="task-group-header"><span class="task-group-name">{{this.name}}</span><span class="delete-task-group">x</span></div>
	<ul class="task-list">
		{{#each this.tasks}}
		<li>
			<span class="task-name" contenteditable=true>{{this.name}}</span>
			<span class="task-time-spent" contenteditable=true>{{this.timeSpent}}h</span>
			/
			<span class="task-time">{{this.timeNeeded}}h</span>
			<select class="task-status">
				<option selected>WIP</option>
				<option>DONE</option>
			</select>
		</li>
		{{/each}}
	</ul>
	<span class="add-task">+</span>
</div>